body {
    margin: 0;
    padding: 0;
}

#bg-image {
    display: block;
    margin-right: auto;
    width: 100%;
    height: 100vh;
}

#countdown {
    position: absolute;
    top: -35%;
    left: 5%;
    transform: translate(-50%, -50%);
    font-size: 850px;
    margin: 40%;
}